<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916967919112-8i6f25d1g5p9vm01hc6drcie6p1lbok2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916967919112-8i6f25d1g5p9vm01hc6drcie6p1lbok2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>916967919112-0iac8nak9lfocb4d096klhhbmnp42e1t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDs2o7s1vn0sjOzr-ruZs6J1PYSzD46nHg</string>
	<key>GCM_SENDER_ID</key>
	<string>916967919112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.societychef.app</string>
	<key>PROJECT_ID</key>
	<string>societychef-d7381</string>
	<key>STORAGE_BUCKET</key>
	<string>societychef-d7381.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916967919112:ios:6fc66f57b28d9612f00bbd</string>
</dict>
</plist>